<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CashFlowContext" connectionString="Data Source=mc2tech.database.windows.net;Initial Catalog=cashflow;Persist Security Info=True;User Id=cashflow_webapp;Password=CFWA@2018;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>